<!-- Favourite Heart Button -->
<form action="/favourites" method="POST" class="absolute top-2 right-2 z-10">
  <input type="hidden" name="id" value="<%= home._id %>">

  <button type="submit"
    class="w-8 h-8 flex items-center justify-center rounded-full transition transform hover:scale-110 duration-200 focus:outline-none
      <% if(home.isFavourite) { %>
        bg-red-500 text-white shadow-lg shadow-red-400/50
      <% } else { %>
        bg-white text-red-500 hover:bg-red-100 shadow-md
      <% } %>">
    <!-- Heart Icon SVG -->
    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" class="w-5 h-5">
      <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
    </svg>
  </button>
</form>