   <%- include('../partials/head')%>
  </head>
  <body>
    <%- include ('../partials/header')%>
  <!-- quick styled with ai -->
   <main class="bg-gray-100 min-h-screen py-10">
  <h1 class="text-red-600 text-5xl md:text-6xl lg:text-7xl font-bold text-center mb-12">
    you are in home details page 
  </h1>
  

</main>

  </body>
</html>
