<%- include('../partials/head')%>
  </head>

  <body>
    <%- include ('../partials/header')%>
     
       <main class="flex items-center justify-center h-screen bg-gray-100">
  <div class="text-center">
    <h1 class="text-6xl font-extrabold text-red-600 mb-4">My Bookings</h1>
    <p class="text-xl text-gray-700">your bookings will appear here</p>
   
    </a>
  </div>
</main>
  </body>

  </html>